/* line 8, ../../sass/layout/layout.scss */
.l-fluid-container {
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  min-width: 1024px;
}
/* line 12, ../../../../../../../../../usr/lib/ruby/gems/1.9.1/gems/susy-2.2.1/sass/susy/output/support/_clearfix.scss */
.l-fluid-container:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 11, ../../sass/layout/layout.scss */
.l-fluid-container:after {
  content: "";
  display: table;
  clear: both;
}

/* line 18, ../../sass/layout/layout.scss */
.l-menu-bar {
  width: 25%;
  float: left;
  margin-right: 0.84034%;
}

/* line 21, ../../sass/layout/layout.scss */
.l-search-bar {
  width: 25%;
  float: right;
  margin-right: 0;
}
